<script>
    import { createEventDispatcher } from 'svelte';


	const dispatch = createEventDispatcher();
	function handle_dislike() {
		dispatch('dislike', {
			text: 'Hello!'
		});
	}
</script>

<footer>
    <nav>
        <ul>
            <li><button on:click={handle_dislike}>Dislike</button></li>
            <li>Superlike?</li>
            <li>Favorieten</li>
            <li>Like</li>
        </ul>    
    </nav>
</footer>

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        display: flex;
    }

    li {
        margin: 0;
        padding: 10px;  
    }
</style>