<script>
  import logo from './../assets/svelte.png'
</script>

<div class="image-placeholder">
    <img src={logo} alt="Svelte Logo" />
</div>

<style>
    .image-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>