<script>
	export let restaurants;

    $: unscored_restaurants = restaurants.filter(r => r.score == null);
</script>

<div>
    Er zijn {unscored_restaurants.length} restaurant{unscored_restaurants.length == 1 ? '':'s'} beschikbaar
</div>