<script>
  import Header from './lib/MyHeader.svelte'
  import RestaurantCount from './lib/RestaurantCount.svelte'
  import Image from './lib/Image.svelte'
  import Footer from './lib/Footer.svelte'

  let restaurants = [
    {
      "name": "Pizza hut",
      "adres": "Van Galenstraat 123",
      "about": "TODO?",
      "coordinates": [52.2, 6.88],
      "score": null,
    },
    {
      "name": "happy Italy",
      "adres": "Van Galenstraat 321",
      "about": "TODO?",
      "coordinates": [52.2, 6.88],
      "score": null,
    },
  ]
  // const url = "http://127.0.0.1:5000/api/search"
  // fetch(url, {
  //     method: 'POST',
  //     headers: {
  //         'Content-Type': 'application/json'
  //     },
  //     body: JSON.stringify({ bbox: [[/*tl_lon,tl_lat*/],[/*br_lon, br_lat*/]]})
  // }).then((response) => {
  //   debugger;
  //   response.json().then(data => {
  //     debugger;
  //     console.log("DATA: ", data);
  //   }).catch(error => console.log(error));
  // });
  let current_index = 0

  function handle_dislike(payload) {
      debugger;
      console.log(payload.text);
      // alert("Dislike: " + current_index)
      restaurants[current_index].score = "dislike"
      current_index += 1
      console.log(restaurants)
  }

</script>

<main>
  <Header />
  <RestaurantCount restaurants={restaurants}/>
  <Image />
  <Footer 
    on:dislike={handle_dislike}
  />
</main>

<style>
  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  main {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }

  /* img {
    height: 16rem;
    width: 16rem;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.1;
    margin: 2rem auto;
    max-width: 14rem;
  }

  p {
    max-width: 14rem;
    margin: 1rem auto;
    line-height: 1.35;
  }

  @media (min-width: 480px) {
    h1 {
      max-width: none;
    }

    p {
      max-width: none;
    }
  }/*
</style>
