{% extends 'index.html' %}

{% block main %}
<p>
    Welkom bij iglogram
</p>
<form action="/" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text">

    <label for="password">Password</label>
    <input id="password" name="password" type="password">

    <input type="submit" name="register" value="Registreer">
    <input type="submit" name="login" value="Inloggen">
</form>

{% endblock %}