<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Iglogram</title>
</head>
<body>
    <header>
        <h1>Welkom op onze Iglogram applicatie</h1>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>