{% extends 'index.html' %}

{% block main %}

    <!-- <a href="/upload">Upload foto</a> -->

    {% for photo in photos %}
    <figure>
        <img src="/static/images/{{ photo }}">
    </figure>
    {% endfor %}

{% endblock %}