{% extends 'index.html' %}

{% block main %}
<p>
    Iets met uploaden.
    Kijk hoe fancy mijn auto reload werkt!
</p>

<form action="/upload" method="post" enctype=multipart/form-data>
    <input type="file" name="file_name">
    <input type="text" name="name">
    <input type="submit">
</form>

<ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}        
</ul>

{% endblock %}