{% extends "layout.html" %}

{% block body %}
    <h2>Hallo nieuwe loempia!</h2>
    <form action="/loempias" method="POST">
        Name: <input name="name" type="text">
        <input value="Loempia knop" type="submit">
    </form>
{% endblock %}