.land .image.spanje { background: linear-gradient(0.25turn, rgba(255,255,255, 0.5) 0%, rgba(255,255,255, 0) 50%), url('images/spanje.jpeg'); background-size: cover; }
.land .image.nederland { background: linear-gradient(0.25turn, rgba(255,255,255, 0.5) 0%, rgba(255,255,255, 0) 50%), url('images/nederland.jpeg'); background-size: cover; }
.land .image.engeland { background: linear-gradient(0.25turn, rgba(255,255,255, 0.5) 0%, rgba(255,255,255, 0) 50%), url('images/engeland.jpeg'); background-size: cover; }
.land .image.irak { background: linear-gradient(0.25turn, rgba(255,255,255, 0.5) 0%, rgba(255,255,255, 0) 50%), url('images/irak.jpeg'); background-size: cover; }
.land .image.noord korea { background: linear-gradient(0.25turn, rgba(255,255,255, 0.5) 0%, rgba(255,255,255, 0) 50%), url('images/noord korea.jpeg'); background-size: cover; }
.land .image.verenigde staten { background: linear-gradient(0.25turn, rgba(255,255,255, 0.5) 0%, rgba(255,255,255, 0) 50%), url('images/verenigde staten.jpeg'); background-size: cover; }
