body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

body > header {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.header-content {
    display: flex;
}

.header-text {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    flex: 1;
}

.header-text h1 {
    margin: 15px auto;
    font-size: 2.5em;
}

.home {
    font-size: 2em;
    padding-top: 21px;
    width: 30px;
    color: white;
}

.content_width {
    width: 1000px;    
}

.content {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.welcome {
    height: 200px;
    border-color: #ff7801 !important;
    margin: 20px 0;
}
.land {
    margin-bottom: 20px;
}

.land .image {
    height: 100px;
    /* border-radius: 10px; */
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.land .image h2 {
    text-shadow: 2px 2px 6px white;
}

.land .image img {
    height: 100px;
}

.destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other_destinations {
    display: flex; 
    gap: 20px;
}

.other_destinations > .destinations {
    flex-direction: column;
    flex-wrap: initial;
}

section {
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

section.bestemming {
    width: 30%;
}

.border {
    border: 1px solid #0D55FF;
    border-radius: 8px;
}

.hide {
    display: none;
}

section.overiew {
    width: 30%;
} 

section h2 {
    margin-top: 4px;
}

section header {
    display: flex;
    justify-content: space-between;
}
section header .iconify {
    padding: 8px;
    font-size: 1.5em;
}

.button {
    padding: 11px 15px 9px 10px;
    border-radius: 4px;
    /* border: 1px solid red; */
    text-decoration: none;
}


.primary-color {
    color: #ff7801;
}

.primary-background-color {
    background-color: #ff7801;
    color: white;
}

.secondary-color {
    color: #1242B3;
}

/* h2.info {
    color: #DC46FA;
} */

h2.corona,
h2.info {
    color: #B3245D;
}

section.corona,
section.info {
    border-color: #B3245D;
}

.button.corona {
    background-color: #B3245D;
    color: white;
}

/* Styling details */

div.info {
    display: flex;
    flex-direction: column;
}

ul.neighbours {
    list-style-type: none;
    display: flex;
}

.pa-0 {
    padding: 0;
}

.pa-1 {
    padding: 4px;
}

.pa-2 {
    padding: 8px;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 4px;
}

.pt-2 {
    padding-top: 8px;
}

.pb-2 {
    padding-bottom: 8px;
}

.bold {
    font-weight: 800;
}