body {
    display: flex;   
    align-items: center;
    flex-direction: column;
    background-color: pink;
}

main {
    display: flex;   
    align-items: center;
    flex-direction: column;
    width: 600px;
    border: 1px solid red;
}

.name {
    font-size: 1.5em;
    padding: 10px;
}

.row {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.grid div,
.grid a {
    background-color: yellow;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row div:first-child {
    background-color: red;
    color: white;
}

.grid a {
    text-decoration: none;
}

.grid a:visited {
    background-color: aquamarine;
    transform: scale(2);

}


.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}