main {
    display: flex;
    justify-content: space-between;
}

.crates {
    display: flex;
}

.crate  {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    /* border: 1px solid green; */
    border-radius: 10px;
    margin: 10px;
    flex-wrap: wrap;
    padding-top: 4px;
    padding-left: 8px;
    margin-top: 4px;
}

.crate-bought {
    margin-top: 0;
    border: 4px solid green;
}

.crate .bottle {
    width: 10px;
    height: 10px;
    border: 1px solid green;
    border-radius: 10px;
    margin: 2px;
}
.crate .filled {
    background-color: green;
}
